@model IEnumerable<ADWeb.Core.ActiveDirectory.ADUser>

<table class="table table-bordered table-condensed table-hover">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Title</th>
            <th>Department</th>
            <th>Date Created</th>
        </tr>
    </thead>
    @foreach(var user in @Model)
    {
        <tr>
            <td>@user.GivenName</td>
            <td>@user.Surname</td>
            <td>@user.Title</td>
            <td>@user.Department</td>
            <td>@user.WhenCreated</td>
        </tr>
    }
</table>