@model IEnumerable<ADWeb.Core.ActiveDirectory.ADUser>

@if(Model.Count() > 0)
{
    <h3>Search for '@ViewBag.SearchTerm' found @Model.Count().ToString() accounts!</h3>
    
    <table class="table table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Title</th>
                <th>Department</th>
            </tr>
        </thead>
        @foreach(var user in @Model)
        {
            <tr class="@(user.Enabled == false ? "disabled-user" : "")">
                <td>@Html.ActionLink(@user.GivenName, "ViewUser", new { user = @user.SamAccountName})</td>
                <td>@Html.ActionLink(@user.Surname, "ViewUser", new { user = @user.SamAccountName})</td>
                <td>@Html.ActionLink(@user.Title, "ViewUser", new { user = @user.SamAccountName} )</td>
                <td>@Html.ActionLink(@user.Department, "ViewUser", new { user = @user.SamAccountName})</td>
            </tr>
        }
    </table>
}
else
{
    <h3>Search for '@ViewBag.SearchTerm' did not find any accounts.</h3>
}

