@model IEnumerable<ADWeb.Core.ActiveDirectory.ADUser>

@{
    ViewBag.Title = "ExpiringUsers";
    Layout = "~/Views/Shared/_Users.cshtml";
}

<h3>Expiring Users</h3>
<p>Below you will find the list of users who will be expiring in the domain.</p>

<table class="table table-condensed table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Title</th>
            <th>Department</th>
        </tr>
    </thead>
    @foreach(var user in @Model)
    {
        <tr>
            <td>@Html.ActionLink(@user.Surname + ", " + @user.GivenName, "ViewUser", new { user = @user.SamAccountName })</td>
            <td>@Html.ActionLink(@user.Title, "ViewUser", new { user = @user.SamAccountName })</td>
            <td>@Html.ActionLink(@user.Department, "ViewUser", new { user = @user.SamAccountName })</td>
        </tr>
    }
</table>
