@model ADWeb.Core.ViewModels.ViewUsersVM

@{
    Layout = "~/Views/Shared/_Users.cshtml";
    ViewBag.Title = "Users Home";
}

<h3>Domain Users</h3>
<p>Welcome to the Home page for the Domain Users! Below you will be able to do a search as well as see the most recently created and updated
    users in the domain.</p>

<div class="row">
    <div class="col-md-11">
        <div class="panel panel-info">
            <div class="panel-heading">
                Last @Model.RecentlyCreated.Count.ToString() users <b><u>created</u></b> in the last 7 days.
            </div>
            <div class="panel-body">
                <p>Below you will find the list of users that have been created in the last 7 days.</p>
                <table class="table table-condensed table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Title</th>
                            <th>Department</th>
                            <th>Created</th>
                        </tr>
                    </thead>
                    @foreach(var user in @Model.RecentlyCreated)
                    {
                        <tr>
                            <td>@Html.ActionLink(@user.GivenName + " " + @user.Surname, "ViewUser", new { userId = @user.SamAccountName })</td>
                            <td>@Html.ActionLink(@user.Title, "ViewUser", new { userId = @user.SamAccountName })</td>
                            <td>@Html.ActionLink(@user.Department, "ViewUser", new { userId = @user.SamAccountName })</td>
                            <td>@Html.ActionLink(@user.WhenCreated.ToLocalTime().ToString(), "ViewUser", new { userId = @user.SamAccountName })</td>
                        </tr>
                    }
                </table>
                @Html.ActionLink("View More ...", "RecentlyCreated", "Users", null, new { @class = "pull-right", title="View List of users that were recently created"} )
            </div>
        </div>
    </div>
</div>
