@model List<ADWeb.Domain.ActiveDirectory.ADUser>

@{
    Layout = "~/Views/Shared/_Users.cshtml";
    ViewBag.Title = "Users Home";
}

<h3>Users Home</h3>
<p>Home page of the users section of the ADWeb application.</p>
<h4>@Model.Count.ToString() users changed in the last 7 days</h4>

<table class="table table-bordered table-condensed table-hover">
    <thead>
        <tr>
            <th>Username</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Title</th>
            <th>When Changed</th>
        </tr>
    </thead>
    @foreach(var user in @Model)
    {
        <tr>
            <td>@Html.ActionLink(@user.SamAccountName, "ViewUser", "Users", new { userId = @user.SamAccountName}, null)</td>
            <td>@Html.ActionLink(@user.GivenName, "ViewUser", "Users", new { userId = @user.SamAccountName}, null)</td>
            <td>@Html.ActionLink(@user.Surname, "ViewUser", "Users", new { userId = @user.SamAccountName}, null)</td>
            <td>@Html.ActionLink(@user.Title, "ViewUser", "Users", new { userId = @user.SamAccountName}, null)</td>
            <td>@Html.ActionLink(@user.WhenChanged.ToLocalTime().ToString(), "ViewUser", "Users", new { userId = @user.SamAccountName}, null)</td>
        </tr>
    }
</table>
