@model IEnumerable<ADWeb.Core.ActiveDirectory.ADUser>

@{
    ViewBag.Title = "Users - Recently Created";
    Layout = "~/Views/Shared/_Users.cshtml";
    
    // These are the options that will be used to submit the request
    // using ajax. 
    AjaxOptions ajaxOptions = new AjaxOptions()
    {
        UpdateTargetId = "filtered-users"
    };
}

<h3>Recently Created Users</h3>
<p>Below you will find the list of users that have been recently created in the domain. By default, only users that were created in the
    last 14 days (2 weeks) are shown. If you want to show the users created during a different time span, click on the drop down list you
    see below and hit the 'Refresh' button.</p>

@using(Ajax.BeginForm("RefreshRecentlyCreated", "Users", null, ajaxOptions, new { @class="form-inline pull-right", role="role" }))
{
    @Html.AntiForgeryToken()
      <div class="form-group">
        <label for="days">Users Created in the last days </label>
        @Html.DropDownList("days", null, new { @class = "form-control" }) 
   </div>
   <div class="form-group">
       <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-refresh"></span> Refresh</button>
   </div>
}
<br />
<br />
<div id="filtered-users">
    <table class="table table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Title</th>
                <th>Department</th>
                <th>Date Created</th>
            </tr>
        </thead>
        @foreach(var user in @Model)
        {
            <tr>
                <td>@Html.ActionLink(@user.GivenName, "ViewUser", new { userId = @user.SamAccountName})</td>
                <td>@Html.ActionLink(@user.Surname, "ViewUser", new { userId = @user.SamAccountName})</td>
                <td>@Html.ActionLink(@user.Title, "ViewUser", new { userId = @user.SamAccountName} )</td>
                <td>@Html.ActionLink(@user.Department, "ViewUser", new { userId = @user.SamAccountName})</td>
                <td>@Html.ActionLink(@user.WhenCreated.ToLocalTime().ToString(), "ViewUser", new { userId = @user.SamAccountName})</td>
            </tr>
        }
    </table>
</div>
