@using ADWeb.Domain.ActiveDirectory
@model List<ADWeb.Domain.ActiveDirectory.ADUser>

@{
    ViewBag.Title = "QuickSearchResults";
}

<h4>Search For '@ViewBag.SearchValue' found @Model.Count.ToString() record(s).</h4>

<span style="font-size: 12pt" class="pull-right">
@Html.ActionLink("Back to Home", "Domain", "Home")
</span>
<table class="table table-condensed table-bordered table-hover">
    <thead>
        <tr>
            <th>Username</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Title</th>
            <th>Department</th>
        </tr>
    </thead>
    <tbody>
        @foreach(ADUser user in Model)
        {
            <tr>
                <td>@user.SamAccountName</td>
                <td>@user.GivenName</td>
                <td>@user.Surname</td>
                <td>@user.Title</td>
                <td>@user.Department</td>
            </tr>
        }
    </tbody>
</table>

