@using ADWeb.Core.ActiveDirectory
@model List<ADWeb.Core.ActiveDirectory.ADUser>

@{
    ViewBag.Title = "ADWeb - Quick Search Results";
}

<h4>Search For '@ViewBag.SearchValue' found @Model.Count.ToString() record(s).</h4>

<span style="font-size: 12pt" class="pull-right">
@Html.ActionLink("Back to Home", "Index", "Home")
</span>

<table class="table table-condensed table-bordered table-hover">
    <thead>
        <tr>
            <th>Username</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Title</th>
            <th>Department</th>
        </tr>
    </thead>
    <tbody>
        @foreach(ADUser user in Model)
        {
            <tr>
                <td>@Html.ActionLink(@user.SamAccountName, "ViewUser", "Users", new { userId = @user.SamAccountName}, null)</td>
                <td>@Html.ActionLink(@user.GivenName, "ViewUser", "Users", new { userId = @user.SamAccountName}, null)</td>
                <td>@Html.ActionLink(@user.Surname, "ViewUser", "Users", new { userId = @user.SamAccountName}, null)</td>
                <td>@Html.ActionLink(@user.Title, "ViewUser", "Users", new { userId = @user.SamAccountName}, null)</td>
                <td>@Html.ActionLink(@user.Department, "ViewUser", "Users", new { userId = @user.SamAccountName}, null)</td>
            </tr>
        }
    </tbody>
</table>

