@using ADWeb.Core.ActiveDirectory
@model IEnumerable<ADGroup>

@{
    ViewBag.Title = "Groups - Home";
    Layout = "~/Views/Shared/_Groups.cshtml";
}

<h3>Domain Groups</h3>
<p>Below you will find information about the groups stored in the domain.</p>
<p><b>Tip:</b> Hover of the group name to view the description of the group.</p>

@if(@TempData["group_updated_successfully"] != null)
{
    <div class="alert alert-info alert-dismissable fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </button>
        <span>@TempData["group_updated_successfully"]</span>
    </div>
}

@Html.ActionLink("Create New Group", "CreateGroup", null, new { @class="btn btn-primary"})
<br />
<br />
<table class="table table-bordered table-condensed table-hover" style="width: 80%">
    <thead>
        <tr>
            <th width="85%">Group name</th>
            <th width="15%" style="text-align: center">User Count</th>
        </tr>
    </thead>
    @foreach(var group in @Model)
    {
        <tr>
            <td>@Html.ActionLink(@group.GroupName, "ViewGroup", new { groupId = @group.GroupName }, new { title = @group.Description })</td>
            <td style="text-align: center">@Html.ActionLink(@group.MemberCount.ToString(), "ViewGroup", new {groupId = @group.GroupName})</td>
        </tr>
    }
</table>
