@model ADWeb.ViewModels.ViewGroupVM

@{
    ViewBag.Title = @Model.GroupName;
    Layout = "~/Views/Shared/_Groups.cshtml";
}

@section headSection {
    <style type="text/css">
        .table-nonfluid {
            width: 50%;
        }
    </style>
}

@if(@TempData["group_created_successfully"] != null)
{
        <br />
    <div class="alert alert-info alert-dismissable fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </button>
        <span>@TempData["group_created_successfully"]</span>
    </div>
}
    
<h3>@Model.GroupName Group</h3>
<p>Below you will find information about this group.</p>
<br />

<ul class="nav nav-tabs nav-justified" role="tablist" id="userInfo">
    <li role="presentation" class="active">
        <a href="#group-info" role="tab" data-toggle="tab">Group Information</a>
    </li>
    <li role="presentation">
        <a href="#group-members" role="tab" data-toggle="tab">Group Members</a>
    </li>
</ul>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="group-info">
        <p>Below you will find the basic information about this group.</p>
        @using(Html.BeginForm("UpdateGroup", "Groups", FormMethod.Post, new { @class="form-horizontal", role="role" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                <div class="col-sm-8">
                <label for="GroupName">Group Name*</label>
                    @Html.TextBoxFor(m => m.GroupName, new { @class="form-control", autofocus="autofocus" })
                    @Html.ValidationMessageFor(m => m.GroupName)
                </div>
            </div>
            
            <div class="form-group">
                <div class="col-sm-8">
                <label for="GroupNotes">Notes</label>
                    @Html.TextAreaFor(m => m.Description, new { rows="8", cols="12", @class="form-control", autofocus="autofocus" })
                    <span class="help-block">Enter a brief description of what the group will be used for.</span>
                </div>
            </div>
            
            @Html.HiddenFor(m => m.OldGroupName)
            
            <div class="form-group">
                <div class="col-sm-8" >
                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Update Group</button>
                </div>
            </div>
        }
    </div>
    <div role="tabpanel" class="tab-pane" id="group-members">
        @if(Model.Members.Count > 0)
        {
            <p>Below you will find the <b>@Model.Members.Count.ToString()</b> members of this group.</p>
            <table class="table table-condensed table-bordered table-hover" style="width: 60%">
                <thead>
                    <tr>
                        <th>Users</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var user in Model.Members)
                    {
                        <tr>
                            <td>@Html.ActionLink(@user.Value, "ViewUser", "Users", new { user = @user.Key }, null)</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p style="color: #900; font-weight: bold">This group currently has no users.</p>
        }
    </div>
</div>

