@model ADWeb.Core.ActiveDirectory.ADGroup 

@{
    ViewBag.Title = @Model.GroupName;
    Layout = "~/Views/Shared/_Groups.cshtml";
}

@section headSection {
    <style type="text/css">
        .table-nonfluid {
            width: 50%;
        }
    </style>
}

<h2>@Model.GroupName (Members: @Model.Members.Count.ToString())</h2>
<p>Below you will find the members of this group.</p>
<table class="table table-nonfluid table-bordered table-hover">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var user in Model.Members)
        {
            <tr>
                <td>@Html.ActionLink(@user.FirstName, "ViewUser", "Users", new { userId = @user.UserName}, null)</td>
                <td>@Html.ActionLink(@user.LastName, "ViewUser", "Users", new { userId = @user.UserName}, null)</td>
            </tr>
        }
    </tbody>
</table>
