@model ADWeb.ViewModels.UserTemplateVM

@{
    ViewBag.Title = "Create User Template";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h3>Create User Template</h3>
<p>Use the fields below to create a new User Template. All fields marked with an asterisks(*) are required fields.</p>

@using(Html.BeginForm("CreateUserTemplate", "Admin", FormMethod.Post, new { @class="form-horizontal", role="role" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-group">
        <div class="col-sm-6">
            <label for="Name">Template Name*:</label>
            @Html.TextBoxFor(m => m.UserTemplate.Name, new { @class = "form-control", autofocus = "autofocus" })
            @Html.ValidationMessageFor(m => m.UserTemplate.Name)
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-sm-6">
            <label for="DomainOUID">Organizational Unit:</label>
            @Html.DropDownListFor(m => m.UserTemplate.DomainOUID, (List<SelectListItem>)@ViewBag.OUList, new { @class="form-control" })
            <span class="help-block">The Organizational Unit that all users created with this User Template will be created under.</span>
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-sm-9">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Additional User Properties
                </div>
                <div class="panel-body">
                    <p>Use the fields below to select additional properties for the active directory accounts that will be created by using this user template.</p>
                    <div class="form-group">
                        <div class="col-sm-6">
                            @Html.CheckBoxFor(m => m.UserTemplate.PasswordNeverExpires) Password Never Expires
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="col-sm-6">
                            @Html.CheckBoxFor(m => m.UserTemplate.ChangePasswordAtNextLogon) Change Password at Next Login 
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="col-sm-6">
                            @Html.CheckBoxFor(m => m.UserTemplate.UserCannotChangePassword) User Cannot Change Password 
                        </div>
                    </div>
                    
                    
                    <div class="form-group">
                        <div class="col-sm-6">
                            @Html.CheckBoxFor(m => m.UserTemplate.AccountExpires) Account Expires 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
    <div class="form-group">
        <div class="col-sm-9">
            <label for="Notes">Template Notes:</label>
            @Html.TextAreaFor(m => m.UserTemplate.Notes, new { @class = "form-control", rows = "7" })
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-sm-6">
            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"> </span> Create User Template</button>
        </div>
    </div>
}
