@model ADWeb.Core.ViewModels.UserTemplateVM

@{
    ViewBag.Title = "User Templates";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h3>User Templates</h3>
<p>Below you will find the user templates currently used in the application. To create a new User Template, please click @Html.ActionLink("here", "CreateUserTemplate").</p>

@if(@TempData["invalid_user_template"] != null)
{
    <div class="alert alert-danger alert-dismissable fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </button>
        <span>@TempData["invalid_user_template"]</span>
    </div>
}

@if(@TempData["user_template_created"] != null)
{
    <div class="alert alert-info alert-dismissable fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </button>
        <span>@TempData["user_template_created"]</span>
    </div>
}

@if(@TempData["user_template_updated"] != null)
{
    <div class="alert alert-info alert-dismissable fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </button>
        <span>@TempData["user_template_updated"]</span>
    </div>
}


<ul class="nav nav-tabs nav-justified" role="tablist" id="userTemplateInfo">
    <li role="presentation" class="active">
        <a href="#active-user-templates" role="tab" data-toggle="tab">Active User Templates</a>
    </li>
    <li role="presentation">
        <a href="#disabled-user-templates" role="tab" data-toggle="tab">Disabled User Templates</a>
    </li>
</ul>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="active-user-templates">
        <p>Below you will find the active User Templates that are currently stored in the application.</p>
        <table class="table table-bordered table-condensed table-hover">
            <thead>
                <tr>
                    <th width="20%">Name</th>
                    <th width="80%">Notes</th>
                </tr>
            </thead>
            @foreach(var template in Model.ActiveUserTemplates)
            {
                <tr>
                    <td>@Html.ActionLink(@template.Name, "ViewUserTemplate", new { id = @template.UserTemplateID })</td>
                    <td>@Html.ActionLink(@template.Notes ?? "No notes", "ViewUserTemplate", new { id = @template.UserTemplateID })</td>
                </tr>
            }
        </table>
    </div>
    <div role="tabpanel" class="tab-pane" id="disabled-user-templates">
        <p>Below you will find the disabled user templates currently stored in the application. </p> 
        <table class="table table-bordered table-condensed table-hover">
            <thead>
                <tr>
                    <th width="20%">Name</th>
                    <th width="80%">Notes</th>
                </tr>
            </thead>
            @foreach(var template in Model.DisabledUserTemplates)
            {
                <tr>
                    <td>@Html.ActionLink(@template.Name, "ViewUserTemplate", new { id = @template.UserTemplateID })</td>
                    <td>@Html.ActionLink(@template.Notes, "ViewUserTemplate", new { id = @template.UserTemplateID })</td>
                </tr>
            }
        </table>
    </div>
</div>


