@model ADWeb.ViewModels.UserTemplateVM

@{
    ViewBag.Title = "User Templates";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h3>User Templates</h3>
<p>Below you will find the user templates currently used in the application. 
    To create a new User Template, please click @Html.ActionLink("here", "CreateUserTemplate").</p>
<br />
@if(@TempData["invalid_user_template"] != null)
{
    <div class="alert alert-danger alert-dismissable fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </button>
        <span>@TempData["invalid_user_template"]</span>
    </div>
}

@if(@TempData["user_template_created"] != null)
{
    <div class="alert alert-info alert-dismissable fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </button>
        <span>@TempData["user_template_created"]</span>
    </div>
}

@if(@TempData["user_template_updated"] != null)
{
    <div class="alert alert-info alert-dismissable fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </button>
        <span>@TempData["user_template_updated"]</span>
    </div>
}


<ul class="nav nav-tabs nav-justified" role="tablist" id="userTemplateInfo">
    <li role="presentation" class="active">
        <a href="#active-user-templates" role="tab" data-toggle="tab">Active User Templates</a>
    </li>
    <li role="presentation">
        <a href="#disabled-user-templates" role="tab" data-toggle="tab">Disabled User Templates</a>
    </li>
</ul>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="active-user-templates">
        @if(Model.ActiveUserTemplates.Count > 0)
        {
            <p>Below you will find the active User Templates that are currently stored in the application. These User Templates will
            be available when creating a user account. To View the properties of a template, please click on the name of the template.</p>
            <table class="table table-bordered table-condensed table-hover">
                <thead>
                    <tr>
                        <th width="25%">Name</th>
                        <th width="75%">Notes</th>
                    </tr>
                </thead>
                @foreach(var template in Model.ActiveUserTemplates)
                {
                    <tr>
                        <td>@Html.ActionLink(@template.Name, "ViewUserTemplate", new { id = @template.UserTemplateID })</td>
                        <td>@Html.Raw(@template.Notes)</td>
                    </tr>
                }
            </table>
        } else
        {
           <p>There are currently no Enabled User Templates. To create a new User Template, please click @Html.ActionLink("here", "CreateUserTemplate").</p> 
        }
    </div>
    <div role="tabpanel" class="tab-pane" id="disabled-user-templates">
        @if(Model.DisabledUserTemplates.Count > 0)
        {
            <p>Below you will find the disabled user templates currently stored in the application. Disabled User Templates will not be available when creating
            a new user account.</p> 
            <table class="table table-bordered table-condensed table-hover">
                <thead>
                    <tr>
                        <th width="25%">Name</th>
                        <th width="75%">Notes</th>
                    </tr>
                </thead>
                @foreach(var template in Model.DisabledUserTemplates)
                {
                    <tr>
                        <td>@Html.ActionLink(@template.Name, "ViewUserTemplate", new { id = @template.UserTemplateID })</td>
                        <td>@Html.Raw(@template.Notes)</td>
                    </tr>
                }
            </table>
        } else
        {
           <p style="color: #900">There are currently no disabled User Templates.</p> 
        }
    </div>
</div>


