@model ADWeb.Core.Entities.UserTemplate

@{
    ViewBag.Title = "View User Template";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

@section headSection {
    <script type="text/javascript">
        $(document).ready(function () {

            if ($("#AccountExpires").is(":checked")) {
                $("#expiration-info").show();
            }
            else {
                $("#expiration-info").hide();
            }

            $("#AccountExpires").change(function () {
                $("#expiration-info").toggle();
                $("#UserTemplate_ExpirationValue").focus();
            });
        });

        // This method is used to remove the group from the
        // table that has all of the group(s) associated with
        // this user template.
        function removeGroup(groupId) {
            $("#group-" + groupId).remove();
        }

        // Whenever a group is removed from the user template, a
        // message will show up at the top of the page. This function
        // generates this message and shows it to the user. If more
        // than one group is removed from the user template, another
        // message will be shown to the user.
        function showSuccessMsg(groupName) {
            var msg = "<div class='alert alert-danger alert-dismissable fade in' role='alert' id='group-removed'> " +
                       "<button type='button' class='close' data-dismiss='alert'>" +
                       "<span aria-hidden='true'>&times;</span>" +
                       "<span class='sr-only'>Close</span>" +
                       "</button><span>The group " + groupName + " has been removed successfully!</span></div>";
            $("#group-removed").append(msg);
        }
    </script>
}

<h3>@Model.Name User Template</h3>
<p>Below you will find the information for this user template. Note: When making updates to this user template, all fields that are
    marked with an asterisks(*) are required fields.</p>

@if(@TempData["error_updating_user_template"] != null)
{
    <div class="alert alert-info alert-dismissable fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </button>
        <span>@TempData["error_updating_user_template"]</span>
    </div>
}

@using(Html.BeginForm("UpdateUserTemplate", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "role" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        <div class="col-sm-6">
            <label for="Name">Template Name*:</label>
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", autofocus = "autofocus" })
            @Html.ValidationMessageFor(m => m.Name)
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-sm-6">
            <label for="DomainOUID">Status:</label>
            @Html.DropDownListFor(m => m.Enabled, (List<SelectListItem>)@ViewBag.UTStatus, new { @class="form-control" })
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-sm-6">
            <label for="DomainOUID">Organizational Unit:</label>
            @Html.DropDownListFor(m => m.DomainOUID, (List<SelectListItem>)@ViewBag.OUList, new { @class="form-control" })
            <span class="help-block">The Organizational Unit that all users created with this User Template will be created under.</span>
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-sm-9">
            <div id="group-removed"></div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    User Template Groups
                </div>
                <div class="panel-body">
                    <p>Below you will find the groups that belong to this user template. All users created using this template
                    will be added to the groups listed below.</p>
                    <table class="table table-bordered table-condensed table-hover">
                        <thead>
                            <tr>
                                <th width="75%">Name</th>
                                <th width="25%">Delete Group</th>
                            </tr>
                        </thead>
                        @if(Model.Groups.Count > 0)
                        {
                            foreach(var group in Model.Groups)
                            {
                                if(group.Enabled)
                                {
                                    <tr id="group-@group.UserTemplateGroupID">
                                        <td title="@group.DistinguishedName">@group.Name</td>
                                        <td>
                                            @Ajax.ActionLink("Delete", 
                                                             "RemoveGroupFromUserTemplate", 
                                                             new { groupID = @group.UserTemplateGroupID }, 
                                                             new AjaxOptions() 
                                                                 { 
                                                                     HttpMethod = "POST", 
                                                                     Confirm = "Are you sure you want to delete the group '" + @group.Name + "' from this user template?",
                                                                     OnComplete = "removeGroup(" + @group.UserTemplateGroupID + ")",
                                                                     OnSuccess = "showSuccessMsg(\"" + @group.Name + "\")"
                                                                 })
                                        </td>
                                    </tr>
                        }
                            }
                        }
                        else
                        {
                            <tr><td style="color:#900; font-weight: bold">No Groups Currently associated with this user template.</td></tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>

    
    <div class="form-group">
        <div class="col-sm-9">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Additional User Properties
                </div>
                <div class="panel-body">
                    <p>Use the fields below to select additional properties for the active directory accounts that will be created by using this user template.</p>
                    <div class="form-group">
                        <div class="col-sm-6">
                            @Html.CheckBoxFor(m => m.PasswordNeverExpires) Password Never Expires
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="col-sm-6">
                            @Html.CheckBoxFor(m => m.ChangePasswordAtNextLogon) Change Password at Next Login 
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="col-sm-6">
                            @Html.CheckBoxFor(m => m.UserCannotChangePassword) User Cannot Change Password 
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="col-sm-6">
                            @Html.CheckBoxFor(m => m.AccountExpires) Account Expires 
                            <div class="help-block">
                                <div id="expiration-info">
                                    <label for="ExpirationValue">Expiration Value:</label>
                                    @Html.TextBoxFor(m => m.ExpirationValue, new { @class="form-control" })
                                    <label for="ExpirationRange">Expiration Range:</label>
                                    @Html.EnumDropDownListFor(m => m.ExpirationRange, htmlAttributes: new { @class = "form-control" })
                                    <p>Please select the date range and value of when the accounts created by this user template will expire.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
         
    <div class="form-group">
        <div class="col-sm-9">
            <label for="Notes">Template Notes*:</label>
            @Html.TextAreaFor(m => m.Notes, new { @class = "form-control", rows = "7" })
            @Html.ValidationMessageFor(m => m.Notes)
            <div class="help-block">Enter a brief description of this User Template for future reference.</div>
        </div>
    </div>
    
    @Html.HiddenFor(m => m.UserTemplateID)
            
    <div class="form-group">
        <div class="col-sm-6">
            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"> </span> Update User Template</button>
        </div>
    </div>
}

