@model ADWeb.ViewModels.ViewUserTemplateVM

@{
    ViewBag.Title = "View User Template";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

@section headSection {
    <script type="text/javascript">
        $(function () {
            var rowIndex = 0;

            $("#search-groups").autocomplete({
                minLength: 2,
                source: '@Url.Action("SearchForGroups")'
            });

            $("#btnAddNewGroup").click(function () {
                var groupName = $("#search-groups").val();

                if (groupName == "") {
                    alert("Group Name cannot be blank! Please type in a name of the group that you wish to add to this User Template.");
                    return;
                }

                $("#new-groups-list").append("<li><input type=\"text\" name=\"Groups[" + rowIndex + "]\" value=\"" + groupName + "\" readonly=\"true\" /></li>");
                $("#search-groups").val("").focus();
                rowIndex++;
            });

            $("#add-groups").click(function (e) {
                e.preventDefault();
                $("#add-new-groups").toggle();
                $("#search-groups").focus();
            });

            if ($("#UserTemplate_AccountExpires").is(":checked")) {
                $("#expiration-info").show();
            }
            else {
                $("#expiration-info").hide();
            }

            $("#UserTemplate_AccountExpires").change(function () {
                $("#expiration-info").toggle();
                $("#UserTemplate_ExpirationValue").focus();
            });
        });

        // This method is used to remove the group from the
        // table that has all of the group(s) associated with
        // this user template.
        function removeGroup(groupId) {
            $("#group-" + groupId).remove();
        }

        // Whenever a group is removed from the user template, a
        // message will show up at the top of the page. This function
        // generates this message and shows it to the user. If more
        // than one group is removed from the user template, another
        // message will be shown to the user.
        function showSuccessMsg(groupName) {
            var msg = "<div class='alert alert-danger alert-dismissable fade in' role='alert' id='group-removed'> " +
                       "<button type='button' class='close' data-dismiss='alert'>" +
                       "<span aria-hidden='true'>&times;</span>" +
                       "<span class='sr-only'>Close</span>" +
                       "</button><span>The group <u>" + groupName + "</u> has been removed successfully from this user template!</span></div>";
            $("#group-removed").append(msg);
        }
    </script>
    
    <style type="text/css">
        #new-groups-list input[type=text] {
            background-color: transparent;
            border: 0px solid;
            width: 100%;
        }

        .ui-widget {
            font-size: 1em;
            font-family: Georgia, Times;
        }

        .ui-menu {
                list-style:none;
                padding: 10px;
                margin: 0;
                display:block;
                width:227px;
        }
        .ui-menu .ui-menu {
                margin-top: -3px;
        }
        .ui-menu .ui-menu-item {
                margin:0;
                padding: 0;
                width: 200px;
        }
    </style>
}

<h3>@Model.UserTemplate.Name User Template</h3>
<p>Below you will find the information for this user template. Note: When making updates to this user template, all fields that are
    marked with an asterisks(*) are required fields.</p>

@if(@TempData["error_updating_user_template"] != null)
{
    <div class="alert alert-info alert-dismissable fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </button>
        <span>@TempData["error_updating_user_template"]</span>
    </div>
}

@using(Html.BeginForm("UpdateUserTemplate", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "role" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        <div class="col-sm-8">
            <label for="Name">Template Name*</label>
            @Html.TextBoxFor(m => m.UserTemplate.Name, new { @class = "form-control", autofocus = "autofocus" })
            @Html.ValidationMessageFor(m => m.UserTemplate.Name)
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-sm-8">
            <label for="DomainOUID">Status</label>
            @Html.DropDownListFor(m => m.UserTemplate.Enabled, (List<SelectListItem>)@ViewBag.UTStatus, new { @class="form-control" })
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-sm-8">
            <label for="DomainOUID">Organizational Unit</label>
            @Html.DropDownListFor(m => m.UserTemplate.DomainOUID, (List<SelectListItem>)@ViewBag.OUList, new { @class="form-control" })
            <span class="help-block">The Organizational Unit that all users created with this User Template will be created under.</span>
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-sm-9">
            <div id="group-removed"></div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    User Template Groups
                </div>
                <div class="panel-body">
                    <p>Below you will find the groups that belong to this user template. All users created using this template
                    will be added to the groups listed below. If you need to delete a group from this template, click on the 'Delete'
                    link next to the group.</p>
                    
                    <table class="table">
                        <thead>
                            <tr>
                                <th width="75%">Name</th>
                                <th width="25%">Delete Group</th>
                            </tr>
                        </thead>
                        @foreach(var group in Model.UserTemplate.Groups)
                        {
                            <tr id="group-@group.UserTemplateGroupID">
                                <td title="@group.DistinguishedName">@group.Name</td>
                                <td>
                                    @Ajax.ActionLink("Delete", 
                                                     "RemoveGroupFromUserTemplate", 
                                                     new { groupID = @group.UserTemplateGroupID }, 
                                                     new AjaxOptions() 
                                                     { 
                                                         HttpMethod = "POST", 
                                                         Confirm = "Are you sure you want to delete the group '" + @group.Name + "' from this user template?",
                                                         OnComplete = "removeGroup(" + @group.UserTemplateGroupID + ")",
                                                         OnSuccess = "showSuccessMsg(\"" + @group.Name + "\")"
                                                     })
                                </td>
                            </tr>
                        }
                    </table>

                    <a href="#" id="add-groups"><span class="glyphicon glyphicon-plus"></span> Add Groups to this User Template</a>
                    <div class="col-lg-9" id="add-new-groups" style="display: none;">
                        <br />
                        <div class="input-group">
                            <input type="text" id="search-groups" class="form-control" placeholder="Search For Groups ..." />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary" id="btnAddNewGroup">Add New Group</button>
                            </span>
                        </div>
                        <div>
                        <br />
                        <ul class="list-unstyled" id="new-groups-list" style="color: #900; font-weight: bold;">
                        </ul>
                        </div>
                        <span class="help-block">Once you are done adding new teams, click on the 'Update User Template' Button below to add the groups. Note: If you try to 
                        add a team that currently is part of this user template the team will not be added.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <div class="form-group">
        <div class="col-sm-9">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Addtional User Properties
                </div>
                <div class="panel-body">
                    <p>Use the fields below to select additional properties for the active directory accounts that will be created by using this user template.</p>
                    <div class="form-group">
                        <div class="col-sm-6">
                            @Html.CheckBoxFor(m => m.UserTemplate.PasswordNeverExpires) Password Never Expires
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="col-sm-6">
                            @Html.CheckBoxFor(m => m.UserTemplate.ChangePasswordAtNextLogon) Change Password at Next Login 
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="col-sm-6">
                            @Html.CheckBoxFor(m => m.UserTemplate.UserCannotChangePassword) User Cannot Change Password 
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="col-sm-6">
                            @Html.CheckBoxFor(m => m.UserTemplate.AccountExpires) Account Expires 
                            <div class="help-block">
                                <div id="expiration-info">
                                    <label for="ExpirationValue">Expiration Value:</label>
                                    @Html.TextBoxFor(m => m.UserTemplate.ExpirationValue, new { @class="form-control" })
                                    <label for="ExpirationRange">Expiration Range:</label>
                                    @Html.EnumDropDownListFor(m => m.UserTemplate.ExpirationRange, htmlAttributes: new { @class = "form-control" })
                                    <p>Please select the date range and value of when the accounts created by this user template will expire.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
         
    <div class="form-group">
        <div class="col-sm-9">
            <label for="Notes">Template Notes*</label>
            @Html.TextAreaFor(m => m.UserTemplate.Notes, new { @class = "form-control ckeditor", rows = "7" })
            @Html.ValidationMessageFor(m => m.UserTemplate.Notes)
            <div class="help-block">Enter a brief description of this User Template for future reference.</div>
        </div>
    </div>
        
    @Html.HiddenFor(m => m.UserTemplate.UserTemplateID)
            
    <div class="form-group">
        <div class="col-sm-6">
            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"> </span> Update User Template</button>
        </div>
    </div>
}

