@model ADWeb.Core.Entities.UserTemplate

@{
    ViewBag.Title = "View User Template";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h3>@Model.Name User Template</h3>
<p>Below you will find the information for this user template. Note: When making updates to this user template, all fields that are
    marked with an asterisks(*) are required fields.</p>

@using(Html.BeginForm("UpdateUserTemplate", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "role" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        <div class="col-sm-6">
            <label for="Name">Template Name*:</label>
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", autofocus = "autofocus" })
            @Html.ValidationMessageFor(m => m.Name)
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-sm-6">
            <label for="DomainOUID">Organizational Unit:</label>
            @Html.DropDownListFor(m => m.DomainOUID, (List<SelectListItem>)@ViewBag.OUList, new { @class="form-control" })
            <span class="help-block">The Organizational Unit that all users created with this User Template will be created under.</span>
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-sm-6">
            <label for="DomainOUID">Status:</label>
            @Html.DropDownListFor(m => m.Enabled, (List<SelectListItem>)@ViewBag.UTStatus, new { @class="form-control" })
        </div>
    </div>
     
    <div class="form-group">
        <div class="col-sm-8">
            <label for="Notes">Template Notes:</label>
            @Html.TextAreaFor(m => m.Notes, new { @class = "form-control", rows = "7" })
        </div>
    </div>
    
    @Html.HiddenFor(m => m.UserTemplateID)
            
    <div class="form-group">
        <div class="col-sm-6">
            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"> </span> Update User Template</button>
        </div>
    </div>
}

